<div class="widget-content-toggle" id="Box_PatientInfo">
    <div class="wr_widget_content scroll_content">
        <div class="block_left map_block w191">
            <a ui-sref="tab_user_info" title="Мой профиль" class="wr_profile_avatar patient_photo">
                <img ng-src="assets/images/icons/avatar_01.jpg" alt="" title="">
            </a>

            <p class="patient_name">
                <a ui-sref="tab_user_info" title="Мой профиль" class="patient_photo name">Кузнецов Иван</a>
            </p>
        </div>

        <div class="wbstats BoxDynLoading">
            <div class="wstats">
                <span class="wfont2">Врачи</span>
            </div>
        </div>

        <div class="wplot">
            <div class="datepicker"></div>

        </div>
    </div>
</div>